html {
    box-sizing: border-box;
}

body {
    background-color: #ffe4c4;
}

#main-heading, li, h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

li {
    margin: auto;
    padding: 10px;
    border: 10px;
    height: 10px;
    width: 400px;
    list-style: none;
    /* display: inline-block; */
}

a {
    color: rgb(174, 108, 26);
}

#main-heading {
    /* margin-bottom: 40px; */
    padding: 20px;
    border: 2px dotted;
    text-align: center;
    margin: 20px 100px;
    display: block;
}

h2 {
    font-size: smaller;
    padding: 0px;
    border: 0px;
    text-align: center;
}

img {
    height: auto;
    width: 500px;
    display: block;
    margin: auto;
    padding-top: 30px;
}
